---
import { getImage } from "astro:assets";

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import About from '../section/About.astro';
import Resume from '../section/Resume.astro';
import Portfolio from '../section/Portfolio.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, MAINTENANCE, OPEN } from '../consts';
import Maintenance from '../components/Maintenance.astro';
import myBackground from "../images/bg.webp";

const optimizedBackground = await getImage({src: myBackground, format: 'webp', quality:'mid'})
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body style={`--bg-image:url('${optimizedBackground.src}')`}>
		{MAINTENANCE 
			? 	
				<Maintenance /> 
				<Footer title={SITE_TITLE}/>
			: 
				<Header title={SITE_TITLE} open={OPEN}/>
				<About />
				<Resume />
				<Portfolio />
				<Footer title={SITE_TITLE}/>
				<script is:inline src="/main.js"></script>
		}
	</body>
</html>
